/* CSS for Salvatore Project */
/* Developed by Keith Walbolt */

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: auto;
}

h1 {
	font-family: "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: -4px;
	text-shadow: #6f749b 1px 1px 3px;
	text-align: center;
}

.center {
	text-align: center;
}

#content, #footer, #foot_location {
	width: 750px;
}

#head_name, #head_location {
	width: 600px;
}

#header {
	margin: auto;
	background-color: transparent;
}

a:link.no_blue, a:visited.no_blue {
	text-decoration: none;
	color: #000;
}

a:hover.no_blue {
	text-shadow: #787878 2px 2px 4px;
} 

#title {
	margin-top: 0px;
	border-bottom-style: solid;
	height: 110px;
	border-bottom-width: 2px;
	#background-image: url(paisly.png);
}

#head_name {
	font: bold 3em "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-shadow: #a7a7a7 1px 1px 2px;
	letter-spacing: -4px;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

#head_location {
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	letter-spacing: .1em;
	font: 1em "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-shadow: #a7a7a7 1px 1px 2px;
	text-align: right;
}

#focus {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -28px;
	width: 750px;
	background: url(focus.png) no-repeat 50%;
	height: 54px;
	font: 1.25em "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	z-index: 1;
	position: relative;
}

#focus>p {
	width: 400px;
	color: #e2ebe0;
	margin: auto;
	height: 54px;
	padding-top: 3px;
}

#focus>p>a:link, #focus>p>a:visited{
	color: #749B6F;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}


#focus>p>a:hover{
	color: #956F9B;
	}

#content {
	margin: auto;
}

#welcome, #whats_new {
	width: 355px;
	padding: 20px 10px;
}

#welcome>p, #whats_new>p {
	padding: 10px;
	text-align: justify;
}

#welcome>h1, #whats_new>h1 {
	text-align: center;
}

#welcome {
	float: left;
}

#whats_new {
	float: right;
}

#footer {
	margin-left: auto;
	margin-right: auto;
	background-color: #;
	font-family: "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
}

#foot_location {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	text-shadow: #749B6F 1px 1px 1px;
}

