/* CSS for Salvatore Project */
/* Developed by Keith Walbolt */

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: auto;
	background: url(churchtree.png) no-repeat 0 bottom; 
}

h1 {
	font-family: "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: -4px;
	text-shadow: #749b6f 1px 1px 2px;
	text-align: center;
	margin: .1em .1em .1em .1em;
}

h2 {
	font-family: "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	letter-spacing: -1px;
	color: #6f749b;
	text-align: left;
	word-spacing: -1px;
	margin: 1em 0 .2em 0;
}

.center {
	text-align: center;
}

#content, #foot_location {
	width: 750px;
}

#head_name, #head_location {
	width: 600px;
}

#header {
	margin: auto;
}

a:link.no_blue, a:visited.no_blue {
	text-decoration: none;
	color: #000;
}

a:hover.no_blue {
	text-shadow: #787878 2px 2px 4px;
} 

#title {
	margin-top: 0px;
	height: auto;
	background-color: #fff;
	border-bottom: 4px solid #a7a7a7;
	border-bottom-width: 4px;
}

#head_name {
	font: bold 3em "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-shadow: #a7a7a7 1px 1px 2px;
	letter-spacing: -4px;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	text-align: center;
}

#head_location {
	margin: auto;
	padding: 0px 5px 10px 5px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font: 1em "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-shadow: #a7a7a7 1px 1px 2px;
	text-align: center;
}

#focus {
	text-align: center;
	margin: auto auto 0;
	width: auto;
	background: url(fluffygrad.png) repeat-x center;
	height: 68px;
	font: 1.25em "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	z-index: 1;
	position: relative;
}

#focus p {
	width: 400px;
	color: #fff;
	margin: auto;
	height: 54px;
	padding-top: 3px;
}

#focus a:link, #focus a:visited {
	color: #CAD9C9;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}


#focus a:hover {
	color: #000;
	}

#content {
	margin: auto;
	float: none;
}

#left_column, #right_column {
	width: 355px;
	padding: 20px 10px;
}

#left_column p, #right_column p, #one_column p {
	padding: 15px;
	text-align: justify;
	background-color: #CAD9C9;
	border: 2px solid #fff;
	margin: auto;
}

#left_column h1, #right_column h1, #one_column h1 {
	text-align: center;
}

#left_column {
	float: left;
}

#right_column {
	float: right;
}

#one_column {
	width: auto;
	padding: 25px 100px;
}

#footer {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	font-family: "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	clear: both;
	float: none;
	background: url(grass.png) repeat-x bottom;
}

#foot_location {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	padding-bottom: 40px;
	text-shadow: #749B6F 1px 1px 1px;
}

